git+https://github.com/romesco/hydra-lightning/#subdirectory=hydra-configs-pytorch-lightning
hydra-core==1.1.0.dev5
git+https://github.com/pytorch/hydra-torch
pytorch-lightning-bolts==0.3.2
pytorch-lightning==1.2.8
-f https://pytorch-geometric.com/whl/torch-1.8.0+cu111.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
torch_geometric_temporal==0.35
ray[tune]
scipy==1.5.4
statsmodels
matplotlib
streamlit
pyproj
plotly
--index-url https://pypi.python.org/simple/
-e .